*
!app.py
!requirements.txt
!data/recommendations.parquet
!data/item_popularity.parquet
!data/similar_items.parquet
!models/als_model.pkl
!models/user_encoder.pkl
!models/item_encoder.pkl
!models/user_item_train.npz
!prometheus.yml